page-about {
	.about {
		font-size: 20px;
		text-align: justify;
		padding: 3%;
		white-space: normal;
		height: 65%;
		background-color: #F5B7B1;
		color: black;
		border-radius: 2%;
		margin-bottom: 5%;
	}
	.content {
		background-color: color($colors, darkprimary);
	}
	.img{
		margin: auto;
		display: block;
	}
}
