page-mat-mobil {
	.content {
		background-color: #F5B7B1;
	}
	.card {
		padding: 0 !important;
		background-color: color($colors, darkprimary);
		text-align: center;
		height: 90%;
		margin-bottom: 5px;
		border-radius: 10px;
	}
	.title {
		font-size: 17px;
		color: white;
	}
}
/* background-color: #B3E5FC; Azul celeste
 * background-color: #01579B; Azul marino
 */